.section {
    padding: 5% 10%;
    background-color: 
    #a2c767;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}
.section >h1 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 0px;
    color: #eff6e1;
}
.section>p {
    margin: 0px;
    /* color: #665e50; */
}
.section>p span {
    color: #eff6e1;
}
.description {
    padding: 5% 5%;
}